.addBox{
  Input{
    width: 200px;
    display: inline-block;
    margin-left: 10px;
  }
  .petimg{
    display: none;
  }
  .vipName{
    margin-left: 100px;
  }
  .vipPhone{
    margin-left: 100px;
  }
  .vipSex{
    margin-left: 100px;
  }
  .vipSite{
    margin-left: 88px;
  }

}
div{
  display: inline-block;
}