.Sp-box{
  margin: 25px 15px 0px 15px;
  background: #fff;
}
.Tab-box{
  padding: 20px 15px 15px 15px;
}
.Tab-pagination{
  float: right;
  margin-top:20px;
  margin-right: 40px;
}
.Tab-add{
  float: right;
  margin-top:20px;
  margin-left: 35px;
}
.search{
  width: 800px;
  margin-top: 10px;
  margin-left: 100px;
}
